.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.list-view {
    -fx-min-width: 100.0;
    -fx-border-width: 0;
}

.list-view:filled:selected:focused, .list-view:filled:selected {
    -fx-border-width: 0;
}

.list-cell {
    -fx-background-color: white;
    -fx-border-width: 0.3;
    -fx-border-color: #e8e8e8;
    -fx-text-fill: black;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #e0e0e0;
 }

 #cell-label {
    -fx-text-fill: black;
 }

.menu-button {
    -fx-background-color: transparent;
}

.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}
